.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
.container {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
}
.form {
  border: 1px solid #ddd;
  border-radius: 10px;
  justify-content: space-between;
  background-color: #ddd;
  padding: 30px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
  display: flex;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.input {
  padding: 0 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 240px;
  height: 40px;
}
.btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: aliceblue;
  color: red;
  cursor: pointer;
}
.list-container {
  padding: 0 24px;
}
.list-title {
}
.todo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.todo-card {
  border: 3px solid purple;
  border-radius: 5px;
  padding: 20px;
  width: 270px;
}
.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
.del-btn {
  height: 50px;
  width: 50%;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid red;
  border-radius: 5px;
}
.com-btn {
  height: 50px;
  width: 50%;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid green;
  border-radius: 5px;
}
